.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body {
  overflow: visible;
  padding-top: 0px;
}

.header-section {
  overflow: visible;
}

.header-image {
  display: -ms-grid;
  display: grid;
  overflow: auto;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-image: url('../images/header-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.blue-div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: rgba(0, 121, 193, 0.8);
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  font-weight: 300;
}

.logo {
  position: relative;
  left: 40px;
  top: 40px;
  right: 40px;
  bottom: 40px;
}

.heading {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  clear: left;
  color: #fff;
  font-size: 75px;
  line-height: 80px;
  font-weight: 400;
}

.link {
  display: inline-block;
}

.header-text {
  display: inline-block;
  margin-right: 13px;
  padding-bottom: 5px;
  padding-left: 0px;
  color: #fff;
  font-size: 35px;
  line-height: 50px;
}

.header-text.link:hover {
  color: #72bf44;
}

.login-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 85px 40px auto;
  padding-top: 15%;
  padding-bottom: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
}

.heading-2 {
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
  color: #575757;
  font-size: 20px;
  text-align: center;
}

.form-block-2 {
  display: block;
  width: 381.53125px;
  height: 257px;
  margin: 0px;
  padding: 38px 45px 45px;
}

.email-field {
  margin-bottom: 22px;
  padding-left: 3px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #aaa;
  color: #575757;
}

.password-field {
  margin-bottom: 1px;
  padding-left: 3px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #aaa;
  border-radius: 0px;
  color: #575757;
}

.login-lbl {
  margin-bottom: 0px;
  padding-left: 3px;
  color: #aaa;
  font-size: 10px;
}

.login-btn {
  display: block;
  width: 100px;
  height: 38px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}

.forgot-password-btn {
  display: block;
  margin: 5px 0px 5px auto;
  color: #575757;
  font-size: 10px;
  font-style: normal;
  text-align: right;
  text-decoration: none;
}

.div-block-4 {
  position: static;
  top: auto;
  bottom: auto;
  overflow: visible;
  height: 300px;
  margin: auto 0px;
}

.div-block-5 {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  max-width: 526.921875px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 16%;
  padding-bottom: 25px;
}

.image-2 {
  position: static;
  display: block;
  margin: auto auto 0px;
}

.div-block-6 {
  position: static;
  top: auto;
  z-index: auto;
  display: none;
  overflow: visible;
  width: 751.46875px;
  height: 63px;
  margin: auto;
}

.section-3 {
  position: relative;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3691cb;
}

.image-3 {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 70px;
  float: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.body-2 {
  margin-right: auto;
  margin-left: auto;
  background-color: #efefef;
}

.container-4 {
  position: static;
  margin-top: -50px;
  padding: 35px 47px;
  background-color: #fff;
}

.home-heading {
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 20px 20px 10px 0px;
}

.div-block-8 {
  height: 4px;
  margin: 25px 8px 8px;
  background-color: rgba(51, 51, 51, 0.35);
}

.request-site-btn {
  display: block;
  margin: 10px;
  padding: 20px;
  background-color: #3691cb;
  text-align: center;
}

.text-block-7 {
  margin-top: 20px;
  text-align: center;
}

.button-4 {
  position: absolute;
  left: auto;
  top: 26%;
  right: 0%;
  bottom: auto;
  overflow: visible;
  height: 38px;
  margin: auto 20px auto 0px;
  float: right;
  clear: both;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #3691cb;
  text-align: right;
}

.section-4 {
  position: relative;
}

.body-3 {
  background-color: #efefef;
}

.welcome-user {
  position: absolute;
  left: 810.17px;
  top: 23px;
  right: 20px;
  background-color: #3691cb;
  text-align: right;
}

.home-para {
  margin-top: 0px;
  padding: 0px 0px 20px;
}

.site-box {
  display: none;
  margin: 8px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.31);
  box-shadow: 0 1px 13px -8px rgba(0, 0, 0, 0.31);
}

.site-box.zero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 8px;
}

.site-clickable {
  margin: 0px;
  padding: 5px;
  border-style: solid solid none;
  border-width: 1px 1px 0px;
  border-color: rgba(0, 0, 0, 0.31);
  text-decoration: none;
}

.site-info {
  padding: 15px 20px;
  float: left;
  color: #333;
  text-decoration: none;
}

.site-image-done {
  position: absolute;
  left: auto;
  top: 0%;
  right: 2%;
  bottom: 0%;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
}

.site {
  position: relative;
  border: 1px none #000;
}

.site-image-edit {
  position: absolute;
  left: auto;
  top: 0%;
  right: 1%;
  bottom: 0%;
  height: 28%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
}

.heading-5 {
  margin-bottom: 10px;
  padding-left: 0px;
}

.submit-container {
  margin-top: -50px;
  background-color: #fff;
}

.submit {
  position: relative;
}

.status-bar {
  height: 5px;
  background-color: #0c0;
}

.form-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 7px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.step-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 100%;
  background-color: #b4b4b4;
}

.text-block-9 {
  position: absolute;
  left: 38%;
  top: 26%;
  right: 0%;
  bottom: 0%;
}

.item-lbl {
  padding-top: 5px;
}

.form-container {
  display: block;
  padding: 45px;
}

.formcompany {
  display: block;
  padding: 0px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.field-label-4 {
  padding-right: 5px;
  padding-left: 14px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.form-heading {
  margin-bottom: 15px;
}

.form-next {
  margin-top: 0px;
}

.form-next.company {
  margin-top: 25px;
}

.form-select {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.formporting {
  display: block;
}

.text-field-4 {
  width: 50%;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.button-5 {
  margin-bottom: 10px;
  margin-left: 15px;
}

.field-label-5 {
  margin-top: 20px;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.button-9 {
  margin-left: 0px;
}

.form-number {
  width: 120px;
  margin-right: 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-block-14 {
  padding-right: 8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.field-label-6 {
  margin-top: 20px;
}

.submit-button-4 {
  margin-top: 25px;
  margin-left: 11px;
}

.heading-7 {
  margin-bottom: 5px;
}

.form-heading-8 {
  margin-top: 15px;
  margin-bottom: 8px;
}

.form411 {
  display: block;
}

.submit-button-5 {
  margin-top: 25px;
  margin-left: 10px;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.radio-button-field {
  margin-left: 20px;
}

.text-block-15 {
  margin-bottom: 5px;
}

.field-label-7 {
  margin-top: 10px;
}

.form911 {
  display: block;
}

.submit-button-6 {
  margin-top: 25px;
  margin-left: 10px;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-field-2 {
  margin-right: 50px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.text-block-16 {
  margin-left: 10px;
}

.select-field-3 {
  margin-bottom: 0px;
  margin-left: 10px;
}

.field-label-8 {
  margin-top: 30px;
}

.heading-9 {
  margin-top: 30px;
}

.grid-entry {
  display: -ms-grid;
  display: grid;
  width: 60%;
  height: 48px;
  margin-bottom: 0px;
  padding: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 2fr 0.25fr;
  grid-template-columns: 1fr 2fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-19 {
  font-weight: 700;
}

.text-block-20 {
  font-weight: 700;
}

.heading-grid {
  display: -ms-grid;
  display: grid;
  width: 60%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 2fr 0.25fr;
  grid-template-columns: 1fr 2fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.upload-inner-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 65px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 2px;
  border-color: #333;
  border-radius: 5px;
  background-color: #ddd;
}

.upload-link {
  padding-left: 5px;
  font-family: 'Brother 1816 Bold', sans-serif;
  color: #333;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.upload-link.link {
  font-family: 'Brother 1816 Bold', sans-serif;
}

.upload-link.link:hover {
  color: #000;
}

.upload-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-image {
  text-align: left;
}

.upload-box {
  width: 60%;
  margin: 10px 0px 0px;
  padding: 10px;
  background-color: #ddd;
}

.submit-button-7 {
  margin-top: 25px;
  margin-left: 10px;
}

.formupload {
  display: block;
}

.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 rgba(0, 0, 0, 0.3);
}

.form-field.company {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-back {
  margin-top: 25px;
  margin-right: 10px;
}

.field-label {
  margin-top: 15px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.field-label.typesite {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 5px;
  padding-left: 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.field-label._911 {
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 15px;
}

.form-x-btn {
  float: right;
}

.form-add {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.div-block-22 {
  margin-bottom: 10px;
}

.form-grid-heading {
  font-weight: 700;
}

.formext {
  display: block;
}

.accordian-trigger {
  display: block;
  width: 65%;
  padding: 5px;
  background-color: #efefef;
  cursor: pointer;
}

.accordian-content {
  overflow: hidden;
  width: 60%;
  padding: 0px 10px 10px 20px;
}

.heading-10 {
  margin-top: 20px;
}

.paragraph {
  margin-bottom: 35px;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.radio-button-field-2 {
  margin-left: 15px;
}

.tigger-header {
  width: 50%;
  padding-left: 7px;
  float: left;
}

.body-4 {
  background-color: #efefef;
}

.divider-bar {
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.47);
}

.divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.addext-btn {
  margin-top: 15px;
  padding: 15px 70px;
  text-align: left;
}

.container-5 {
  margin-top: -8px;
}

.container-6 {
  margin-top: -50px;
  padding: 35px 47px;
  background-color: #fff;
}

.section-5 {
  position: relative;
}

.site-header {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 20px;
}

.order-number {
  padding-top: 5px;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.div-block-25 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-26 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.youtube {
  margin: 0px 20px 20px;
}

.heading-12 {
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 0px;
}

.div-block-27 {
  width: 100%;
  height: 3px;
  background-color: #b1b1b1;
}

.button-10 {
  margin: 15px;
  text-align: center;
}

.div-block-28 {
  position: static;
  overflow: visible;
  padding: 25px 20px 20px;
}

.button-11 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #3691cb;
  text-align: center;
}

.list-item {
  margin-top: 15px;
  padding-bottom: 4px;
}

.list-site {
  padding-bottom: 4px;
}

.div-block-29 {
  margin-top: auto;
  margin-bottom: auto;
}

.text-field-5 {
  display: none;
}

.text-field-6 {
  display: none;
}

.text-field-7 {
  display: none;
}

.text-field-8 {
  display: none;
}

.text-field-9 {
  display: none;
}

html.w-mod-js *[data-ix="new-interaction"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media (max-width: 991px) {
  .header-image {
    -ms-grid-columns: 1fr 0.5fr;
    grid-template-columns: 1fr 0.5fr;
    background-image: url('../images/header-image.jpg');
    background-position: 50% 0%;
    background-size: cover;
  }
  .heading {
    clear: none;
    font-size: 43px;
    line-height: 60px;
  }
  .header-text {
    font-size: 25px;
    line-height: 50px;
  }
  .login-panel {
    margin-top: 85px;
  }
  .div-block-5 {
    margin: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
  }
  .div-block-6 {
    position: static;
    bottom: 30%;
  }
  .image-3 {
    position: relative;
    z-index: 2;
  }
  .welcome-user {
    left: 0px;
  }
  .div-block-19 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .field-label {
    margin-top: 15px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media (max-width: 767px) {
  .header-image {
    display: block;
    width: auto;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  .blue-div {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin-bottom: 0px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .login-panel {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
  }
  .form-block-2 {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-5 {
    width: 558px;
    height: 205px;
    max-width: 558px;
    margin: auto;
    padding-right: 80px;
    padding-left: 13%;
  }
  .div-block-6 {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 2%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .item-lbl {
    text-align: center;
  }
  .grid-entry {
    width: 100%;
  }
  .heading-grid {
    width: auto;
  }
  .upload-box {
    width: 70%;
  }
  .form-grid-entry {
    padding-left: 0px;
  }
  .accordian-trigger {
    width: auto;
  }
  .accordian-content {
    width: auto;
    padding-right: 20px;
  }
  .div-block-24 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .youtube {
    margin-left: 0px;
  }
  .heading-12 {
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .header-image {
    overflow: visible;
  }
  .heading {
    font-size: 40px;
  }
  .login-panel {
    overflow: hidden;
    margin: auto;
  }
  .heading-2 {
    margin-top: 0px;
  }
  .form-block-2 {
    margin-bottom: 100px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-4 {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: -30%;
  }
  .div-block-5 {
    width: auto;
    height: auto;
    max-width: 414px;
    min-width: 264px;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 8%;
  }
  .form {
    padding-right: 6px;
    padding-left: 6px;
  }
  .image-3 {
    padding-left: 40px;
  }
  .container-4 {
    margin-top: -20px;
  }
  .home-heading {
    text-align: left;
  }
  .request-site-btn {
    margin: 15px 2px 2px;
  }
  .button-4 {
    left: 0%;
    top: 96px;
    right: 0%;
    bottom: 0%;
  }
  .welcome-user {
    top: 98px;
  }
  .site-info {
    overflow: visible;
  }
  .site-image-done {
    height: 40px;
  }
  .site-image-edit {
    height: 20px;
  }
  .submit-container {
    margin-top: -20px;
  }
  .form-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .form-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .form-heading-8 {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .div-block-19 {
    padding-left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .upload-box {
    width: 100%;
  }
  .field-label {
    margin-top: 0px;
    margin-bottom: 5px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .field-label.typesite {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 0px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .field-label._911 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .container-5 {
    margin-top: -20px;
    padding-right: 35px;
    padding-left: 35px;
  }
  .div-block-24 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

#w-node-1fe570167e87-6b815fb5 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-489d1385eaa5-37815fb7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-7ad72b18e096-37815fb7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Thin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed';
  src: url('../fonts/Brother1816Printed-ExtraBold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed book';
  src: url('../fonts/Brother1816Printed-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed book';
  src: url('../fonts/Brother1816Printed-Book-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother-1816-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('../fonts/Brother-1816-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Black Italic';
  src: url('../fonts/Brother-1816-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 Medium-Italic';
  src: url('../fonts/Brother-1816-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 Light';
  src: url('../fonts/Brother-1816-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Regular';
  src: url('../fonts/Brother-1816-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Light Italic';
  src: url('../fonts/Brother-1816-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 ExtraBold';
  src: url('../fonts/Brother-1816-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed Bold';
  src: url('../fonts/Brother1816Printed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brother1816printed Bold Italic';
  src: url('../fonts/Brother1816Printed-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 Extra Bold Italic';
  src: url('../fonts/Brother-1816-ExtraBold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed Black Italic';
  src: url('../fonts/Brother1816Printed-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 Regular Italic';
  src: url('../fonts/Brother-1816-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 book';
  src: url('../fonts/Brother-1816-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Thin Italic';
  src: url('../fonts/Brother-1816-Thin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Brother 1816 book italic';
  src: url('../fonts/Brother-1816-Book-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Brother1816printed Black';
  src: url('../fonts/Brother1816Printed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Bold';
  src: url('../fonts/Brother-1816-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Black';
  src: url('../fonts/Brother-1816-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brother 1816 Bold Italic';
  src: url('../fonts/Brother-1816-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}