{% autoescape off %}

Dear {{ user.get_full_name }},

Welcome to Agilis Networks! 
Thank you for becoming a valued customer!  The link below will direct you to our voice services on-boarding portal.  

This site is designed to help us gather the information required to seamlessly transfer your lines and extensions over to us.  
Here's a list of things you should have handy before starting.  Don’t worry, if you forget something, the site is designed to bring you right back to where you left off!
    - Company name and address
    - List of numbers we need to port (move to us) and disconnect.
    - A copy of your most recent phone bill(s) that show the numbers above.
    - Extensions and user information


Please click the link below to create your account:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
Agilis Networks

{% endautoescape %}